# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env

# Firebase Admin SDK
firebase-admin-sdk.json

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Logs
logs/
*.log